
@{
    ViewData["Title"] = "List";
}

<h2>@Model.CurrentCategory</h2>

@{
    foreach (Restaurent restaurent in Model.Restaurents)
    {
        @await Html.PartialAsync("RestaurentList", restaurent)

    }
}